.backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.carouselContainer {
	/* height: 50%; */
	width: 20%;
}

.carouselContainerFood {
	height: 50%;
	width: 60%;
}

.carouselContainer img {
	border-radius: 10px;
}

.search {
	width: 200px;
	height: 200px;
}

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	.carouselContainerFood {
		height: 50%;
		width: 90%;
	}
	.carouselContainer {
		/* height: 50%; */
		width: 60%;
	}
}
