.avatar_container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 45vh;
	/* background-color: antiquewhite; */
}

.avatar_image {
	border-radius: 50%;
	width: 200px;
	border-width: 2px;
	border-style: outset;
	border-color: bisque;
	border-image: initial;
	transition-property: transform;
	transition-duration: 2s;
}

.avatar_image:hover {
	transform: rotateY(180deg);
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	.avatar_image {
		border-radius: 50%;
		width: 150px;
	}
}
